<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="applicationkey" value="[ENTER-APPLICATION-KEY-HERE]" />
    <add key="userkey" value="[ENTER-USER-KEY-HERE]" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
